{% extends "base.html" %}

{% block content %}
    <h1>Привет, {{ username }}!</h1>
    <a href="/add_news.html">Добавить новость</a>
    {% for item in news %}
        <div class="alert alert-dark" role="alert" style="
                color: #1b1e21;
                background-color: #d6d8d9;
                border-color: #c6c8ca;
                position: relative;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                box-sizing: border-box;
                border-radius: .25rem;">
            <h2>{{ item[1] }}</h2>
            <div>{{ item[2] }}</div>
        </div>
    {% endfor %}
    <a href="/out.html">
        <button type="submit" class="btn btn-primary">Выйти</button>
    </a>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="all_news.html"><span>Новости</span></a></li>
        <li><a href="index.html"><span>Биография</span></a></li>
        <li><a href="creations.html"><span>Произведения</span></a></li>
        <li><a href="bestiary.html"><span>Бестиарий</span></a></li>
    </ul>
{% endblock %}
