{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2><p>Вступление</p></h2>
    <h4>
        <p>Даже самые страшные монстры, противостоящие героям фантастики, выполняют прозаичные функции: внезапно
            выскочить из темноты, укусить за самое чувствительное место и скрыться в никуда. Под этот шаблон
            подпадают вампиры, оборотни, призраки и зомби. Эти твари родились из мифов и легенд, суеверий и
            предрассудков, словом, человечество придумало их, чтобы обосновать свой естественный страх перед
            всем неожиданным и непонятным.</p>
        <p>Но есть и другие легенды. Мифы о невероятных монстрах, гораздо более страшных, чем кучка оживших
            мертвецов, и гораздо более загадочных, чем полупрозрачные существа, гуляющие по коридорам старинных
            замков. В отличие от европейских легенд, эти истории не могут похвастать древностью. Их придумал
            один-единственный человек — нищий американец, страдавший от ночных кошмаров. Но современная
            фантастика (а в особенности — мистика и ужасы) без них совершенно немыслима.</p></h4>
    <h2><p>Отец чудовищ</p></h2>
    <h4>Говард Филлипс Лавкрафт по праву считается одним из отцов жанра ужасов. Он взял многое от Эдгара По и
        лорда Дансени, но еще больше было взято у него. Клайв Баркер, Стивен Кинг, Ганс Руди Гигер, Нил Гейман,
        Гильермо Дель Торо, Сэм Рэйми и Алан Мур не скрывают, что черпают вдохновение в творчестве человека,
        придумавшего легенду про книгу мертвых — Некрономикон.</p><p>Заслуга Лавкрафта ещё и в том, что он
            впервые скрестил два ранее независимых жанра — научную фантастику и ужасы. Говард создал масштабный
            пантеон из богов, полубогов и чудовищ — существ потусторонних и одновременно реальных, обитающих то
            ли в другом измерении, то ли на других планетах, но активно вмешивающихся в дела людей при помощи
            своих сверхъестественных сил.</p>
        <p>При этом Лавкрафт не был сумасшедшим мистиком. Он относился к монстрам из его книг с юмором. Говард
            был атеистом и рассматривал свои творения исключительно как средство заработка — кстати, очень
            скромного, едва позволявшего сводить концы с концами.</p>
        <div>
            <blockquote><p>Да, я согласен, что Йог-Сотот основан на незрелой концепции, мало подходящей для
                действительно серьезной литературы.</p>
                <p><strong> - Лавкрафт в письме Фрэнку Белнапу Лонгу. 27 февраля 1931</strong></p></blockquote>
        </div>
        Здесь собраны только самые известные и значительные существа Лавкрафта
    </h4>
</div>
<div id="right">
    <h1 class="topright" class="fix_block">Разделы</h1>
    <div class="rightitem">
        <ul>
            <li class="selected1"><a href="bestiary.html">Вступление</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block menu %}
<ul>
    <li><a href="all_news.html"><span>Новости</span></a></li>
    <li><a href="index.html"><span>Биография</span></a></li>
    <li><a href="creations.html"><span>Произведения</span></a></li>
    <li><a class="selected" href="bestiary.html"><span>Бестиарий</span></a></li>
</ul>
{% endblock %}