{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2>Кратко обо всём</h2>
    <h4>
        <p>Говард Филлипс Лавкрафт взялся за чернильницу и перо еще в детском возрасте. Мальчика постоянно
            мучили кошмары, из-за которых сон был страшной пыткой, ибо управлять этими сновидениями или
            проснуться у Лавкрафта не получалось. На протяжении всей ночи он наблюдал в своем разыгравшемся
            воображении пугающих существ с перепончатыми крыльями, которые были названы «ночными мверзями».</p>
        <p>Первые произведения Говарда были написаны в фантастическом жанре, однако Лавкрафт забросил эту
            «несерьезную литературу» и начал оттачивать мастерство, сочиняя стихотворения и эссе. Но в 1917 году
            Говард вновь вернулся к фантастике и выпустил в свет рассказы «Склеп» и «Дагон».</p>
        <img class="left" src="{{ image1 }}"/></h4>
    </h4>
    <h5>Говард Лавкрафт</h5>
    <h4>
        <p>Сюжет последнего строится вокруг божества Дагона, который относится к пантеону мифов Ктулху.
            Внешность этого глубоководного монстра вызывает отвращение, а его огромные чешуйчатые руки заставят
            содрогнуться всех и каждого.</p>
        <p>Казалось бы, успех уже близко, ибо «Дагон» был напечатан в журнале в 1923 году. Но в жизни Говарда
            вновь случилось несчастье. Его мать попала в ту же лечебницу, где коротал последние годы жизни его
            отец. Сара умерла 21 мая 1921 года, врачи не смогли вылечить эту безумную женщину. Поэтому, чтобы
            отвлечься от терзаний, гений литературы начал усиленно работать.</p>
        <img class="left" src="{{ image3 }}"/></h4>
    </h4>
    <h5>Дагон в Некрономиконе</h5>
    <h4>
        <p>Говарду Лавкрафту удалось выдумать свои неповторимые миры, которые можно поставить в один ряд со
            Средиземьем Джона Толкина, Плоским миром Терри Пратчетта, страной Оз Лаймена Фрэнка Баума и прочими
            параллельными Вселенными в мире литературы. Говард стал основателем некого мистического культа: в
            мире существуют люди, верящие в невиданных и всемогущих божеств (Древние), которые встречаются в
            «Некрономиконе».</p>
        <img class="left" src="{{ image3 }}"/>
    </h4>
    <h5>Дагон</h5>
    <h4>
        <p>Поклонники писателя знают, что Лавкрафт ссылается в своих произведениях на древнейшие источники.
            «Некрономикон» – это выдуманная Говардом энциклопедия магических ритуалов, прочно связанная с мифами
            Ктулху, которая впервые встречается в рассказе «Пес» (1923).</p>
        <p>Сам писатель говорил, что рукопись существовала в реальности, и утверждал что «Книгу мертвых» написал
            безумный араб Абдул Альхазред (ранний псевдоним литератора, навеянный «Арабскими ночами»). Также
            ходит легенда, что эта книга хранится за семью замками, ибо опасна для душевного и физического
            здоровья читателя.</p>
        <p>Примечательно, что отрывки из «Некрономикона» были раскиданы по повестям и рассказам Лавкрафта, и эти
            цитаты собрали в единый том поклонники-энтузиасты. Первым до этого додумался писатель Август Дерлет
            – страстный поклонник Говарда. Кстати, подобие «Некрономикона» использовал режиссер Сэм Рэйми в
            своей культовой трилогии «Зловещие мертвецы» (1981,1987,1992).</p>
        <img class="left" src="{{ image4 }}"/></h4>
    </h4>
    <h5>Некрономикон</h5>
    <h4>
        <p>Также мастер пера наделял свои книги своеобразными заклинаниями и рисунками. Например, чтобы уважить
            великого и ужасного Ктулху, адепту жестокого культа нужно произнести: «Пх’нглуи мглв’нафх Ктулху
            Р’льех вгах’нагл фхтагн!» К слову, впервые гигантский осьминогоподобный монстр, спящий на дне Тихого
            океана и способный воздействовать на разум человека, появился в рассказе «Зов Ктулху» (1928).</p>
        <p>Далее, годом позже, выходит произведение под названием «Ужас Данвича» (1929). Лавкрафт повествует
            своему читателю о вымышленном городе, что на севере центрального Массачусетса. В этом злачном
            местечке обитал старик, любивший совершать зловещие обряды, и юноша Уилбур, который был вовсе не
            человеком, а странным существом со щупальцами.
        </p>
        <img class="left" src="{{ image5 }}"/></h4>
    </h4>
    <h5>Ктулху</h5>
    <h4>
        <p>В 1931 году Говард пополнил свою творческую биографию фантастическим романом «Хребты безумия», а
            также сочинил рассказ «Тень над Иннсмутом» (1931), сюжет которого вращается вокруг тайны:
            обволакивающий мрачный город, где живут люди, обладающие зловещей внешностью, будто они больны
            неизученной ранее болезнью.</p>
        <p>В том же 1931-м Лавкрафт написал другое произведение – «Шепчущий во тьме», где впервые упоминается
            внеземная раса разумных грибов Ми-го. В своем рассказе литератор смешивает в одном флаконе детектив,
            научную фантастику и приправляет свое творение особым лавкрафтовским приемом.</p>
        <img class="left" src="{{ image6 }}"/></h4>
    </h4>
    <h5>Азазот</h5>
    <h4>
        <p>Книги Лавкрафта потому и страшны, что в его рукописях используется психологический ужас
            неизведанного, а не примитивное запугивание читателя вампирами, монстрами, вурдалаками, зомби и
            прочими персонажами. Причем Говард умел нагнетать такую атмосферу саспенса, что, возможно,
            сам Альфред Хичкок бы позавидовал этому гению литературы.</p>
        <p>Позже Лавкрафт презентовал повесть «Сны в Ведьмином доме» (1932). Рассказ описывает жизнь
            любознательного студента Уолтера Джилмена, наслушавшегося историй о колдунье Кеции Мэйсон, которая
            могла без труда перемещаться в пространстве. Но молодой парень уверен, что ведьма путешествует в
            четвертом измерении. В конечном итоге озадаченный Уолтер начинает видеть кошмары: как только Морфей
            касается глаз главного героя, над ним начинает издеваться злобная старуха.</p>
        <img class="left" src="{{ image7 }}"/></h4>
    </h4>
    <h5>Хастур</h5>
    <h4>
        <p>В 1933-м Говард сочинил рассказ с говорящим названием – «Тварь на пороге». Фабула произведения
            развивается в вымышленном городке Аркхем, в доме архитектора Дэниела Аптона, который пытается
            объяснить читателю, почему он убил своего приятеля – литератора Эдварда Пикмана Дерби. Это
            произведение с неожиданной концовкой вдоволь окунает заядлого книголюба в мистические и
            хитросплетенные истории.</p>
        <p>Затем, в 1935-м, Лавкрафт выпустил в свет книгу «За гранью времен» и в том же году посвятил Роберту
            Блоху новое произведение – «Обитающий во Тьме». Эта книга рассказывает о литераторе Роберте Блейке,
            который был найден мертвым у себя дома. На лице писателя застыл ужас, а судить о том, что произошло
            в тот роковой день смерти, можно лишь по запискам, раскиданным на столе.</p>
        <img class="left" src="{{ image8 }}"/></h4>
    </h4>
    <h5>Ньярлатхотеп</h5>
    <h4>
        <p>Помимо прочего, в послужном списке Говарда есть сборник сонетов «Грибы с Юггота», написанный в 1929
            году. Также Лавкрафт, чей неоспоримый талант ценили поклонники, помогал своим коллегам по цеху в
            написании рассказов. Причем часто бывало такое, что все лавры почета доставались второму соавтору,
            внесшему меньший вклад в фабулу произведения.</p>
        <p>Лавкрафт оставил после себя эпистолярное наследие, ученые говаривали, что рукой мистика было написано
            сто тысяч писем. В том числе сохранились и черновики других литераторов, исправленные Лавкрафтом.
            Таким образом, Говард оставлял только несколько предложений из «оригинала», получая за это
            незначительную сумму, тогда как некоторые соавторы довольствовались большими гонорарами.</p>
    </h4>
</div>
<div id="right">
    <h1 class="topright">Разделы</h1>
    <div class="rightitem">
        <ul>
            <li class="selected1"><a href="creations.html">Кратко</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block menu %}
<ul>
    <li><a href="all_news.html"><span>Новости</span></a></li>
    <li><a href="index.html"><span>Биография</span></a></li>
    <li><a class="selected" href="creations.html"><span>Произведения</span></a></li>
    <li><a href="bestiary.html"><span>Бестиарий</span></a></li>
</ul>
{% endblock %}