{% extends "base.html" %}

{% block content %}
<div id="main">
    <h2>О Говарде Филипсе Лавкрафте</h2>
    <h4><p>Aмериканский писатель и журналист, работавший в жанрах ужасов, мистики, фэнтези и научной фантастики,
        совмещая их в оригинальном стиле. Его творчество уникально настолько, что произведения Лавкрафта
        выделяются в отдельный поджанр — так называемые лавкрафтовские ужасы. Ядро творчества Лавкрафта
        составляют мифы Ктулху — произведения, объединённые своеобразной общей мифологией.</p>
        <p>Лавкрафт родился и прожил большую часть жизни в городе Провиденс, штат Род-Айленд. При жизни
            Лавкрафта его произведения не пользовались большой популярностью и публиковались в дешевых
            бульварных журналах, однако после его смерти они оказали колоссальное влияние на формирование
            современной литературы ужасов и, шире, мировую массовую культуру.</p>
        <img class="left" src="{{ image }}"/>
    </h4>
    <h5>Говард Лавкрафт</h5>
    <h4>
        <p>Страх является самым сильным чувством человека. Поэтому неудивительно, что в литературе и
            кинематографе уделили столько места этому отрицательному эмоциональному процессу. Но в мире единицы
            литераторов, которые могли не только увлечь читателя, но и напугать его до мурашек на коже. К числу
            таких писателей относится Говард Филлипс Лавкрафт, которого нередко называют Эдгаром По двадцатого
            века.</p>
        <p>Создатель «Мифов Ктулху» настолько самобытен, что в литературе принято выделять отдельный жанр –
            «лавкрафтовские ужасы». Говард снискал себе тысячи последователей (Август Дерлет, Стивен Кинг, Кларк
            Эштон Смит), но при жизни так и не увидел ни одной напечатанной книги. Лавкрафт знаком по
            произведениям «Зов Ктулху», «Затаившийся страх», «По ту сторону сна», «Изгой» и т.д.
        </p></h4>
</div>
<div id="right">
    <h1 class="topright" class="fix_block">Разделы</h1>
    <div class="rightitem">
        <ul>
            <li class="selected1"><a href="main page">Кратко</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block menu %}
<ul>
    <li><a href="all_news.html"><span>Новости</span></a></li>
    <li><a class="selected" href="index.html"><span>Биография</span></a></li>
    <li><a href="creations.html"><span>Произведения</span></a></li>
    <li><a href="bestiary.html"><span>Бестиарий</span></a></li>
</ul>
{% endblock %}
